
<div class= "text-container">
<h1>Stupid coach</h1>

<p>Ask tour coach anything</p>


<form action="./answer" data-turbo="false" method="get">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="question" placeholder="Talk with the coach">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
</div>
